header img{
    width: 100px;
}
.done{
    text-decoration: line-through;
}
.empty-list{
    height: 100px;
}
li span, li i {
    cursor: pointer;
}
body{
    background: url(https://t4.ftcdn.net/jpg/01/94/26/13/360_F_194261326_4Z2pXippWG3kJrz4XhmHwEq8DhEP5dBz.jpg);
    
}
.my-container{
    border-radius: 12px;
    padding: 5em;
    /* height: 50vh; */
    background-color: rgba(255, 255, 255, 0.678);

}
